<div class="container img-responsive">
  <h3>Update Post</h3>
  <form id="new-post">
    <div class="form-group">
      <label for="title">Post Title:</label>
      {{input value=title id="title" placeholder=post.title}}
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      {{input value=image id="image" placeholder=post.image}}
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      {{input value=date id="date" placeholder=post.date}}
    </div>
    <div class="form-group">
      <label for="body">Body Content:</label>
      {{input value=body id="body" placeholder=post.body}}
    </div>
    <button {{action 'update' post}}>Update Post</button>
  </form>
</div>
